
.n000
{
	color: #ff0000;
	background-color: #00ffff;
}

.n001
{
	color: #ff0099;
	background-color: #00ff66;
}

.n002
{
	color: #ff00ff;
	background-color: #00ff00;
}

.n003
{
	color: #6600ff;
	background-color: #99ff00;
}
